<mat-card>
  <mat-card-header>
    <mat-card-title>Fordítás</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form">
      <div class="translate-form">
        <div class="translate-form-col">
          <mat-form-field appearance="outline">
            <mat-label>forrásnyelv (automatikus a fordítandó szöveg alapján)</mat-label>
            <mat-select formControlName="source" (selectionChange)="translate()">
              <mat-option *ngFor="let lang of languages" [value]="lang.language">
                {{ lang.name }} - {{ lang.language }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="f['source'].errors?.['required']">A forrásnyelv megadása kötelező!</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>fordítandó szöveg</mat-label>
            <textarea matInput placeholder="fordítandó szöveg" formControlName="text" (change)="detectSource()"></textarea>
            <mat-error *ngIf="f['text'].errors?.['required']">A szöveg megadása kötelező!</mat-error>
            <mat-error *ngIf="f['text'].errors?.['minlength']">A szöveg minimum {{f['text'].errors?.['minlength'].requiredLength}} karakter hosszú!</mat-error>
          </mat-form-field>
        </div>
        <div class="translate-form-col">
          <button mat-button (click)="detectSource()" color="primary" [disabled]="!f['text'].valid || (translateLeft<=0 && !loggedIn)">
            <mat-icon>radar</mat-icon>
            Nyelvfelismerés
          </button>
          <button mat-button (click)="translate()" color="primary" [disabled]="!form.valid || (translateLeft<=0 && !loggedIn)">
            <mat-icon>translate</mat-icon>
            Fordítás
          </button>
        </div>
        <div class="translate-form-col">
          <mat-form-field appearance="outline">
            <mat-label>célnyelv</mat-label>
            <mat-select formControlName="target" (selectionChange)="translate()">
              <mat-option *ngFor="let lang of languages" [value]="lang.language">
                {{ lang.name }} - {{ lang.language }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="f['target'].errors?.['required']">A célnyelv megadása kötelező!</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>fordított szöveg</mat-label>
            <textarea matInput placeholder="fordított szöveg" readonly="true">{{ translatedText }}</textarea>
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <div *ngIf="!loggedIn">
      <p>Hátralévő fordítások száma: {{translateLeft<0?0:translateLeft}}</p>
      <p *ngIf="translateLeft<=0"><a routerLink="/registration">Regisztrálj</a> a haszálathoz!</p>
    </div>
  </mat-card-actions>
</mat-card>