mat-card {
    width: 80%;
    margin: 24px auto;
    padding: 24px;

    mat-form-field {
        margin: 5px 0;
    }

    .translate-form {
        display: flex;
        flex-direction: row;
        width: 100%;

        .translate-form-col {
            justify-content: space-between;
            display: flex;
            flex-direction: column;

            mat-form-field {
                width: 100%;
                margin-bottom: 6px;
            }

            &:first-child, &:last-child {
                flex-grow: 5;
            }

            &:nth-child(2) {
                flex-grow: 1;
                justify-content: center;
            }

        }
        
    }
}